<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js">
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#btnChange").on("click", function(){
          var orginUrl = encodeURIComponent($("#txtOriginUrl").val());

          if(orginUrl.length <= 0){
            alert("변환할 URL를 입력해주세요.");
            return;
          }

          $.ajax({
            type : 'GET',
            url : "/urlShortener/" + orginUrl,
            success : function(data){
              var shortUrl = location.protocol + "//" + location.host + "/" + data.shortUrl;
              $("#txtShortUrl").val(shortUrl);
            },
            error : function(){
              alert("error");
            }
          });
        });
      });

    </script>
  </head>
  <body>      
    <table>
        <tr>
            <td>
                URL
            <td>
            <td>
                <textarea id="txtOriginUrl" style="width:300px;" rows="4" placeholder="원본 URL" ></textarea>
            </td>
            <td>
                <input type="button" id="btnChange" value="URL 변환" />
            </td>
            <td>
                short URL
            <td>
            <td>
                <input type="text" id="txtShortUrl" style="width:200px;" placeholder="줄어든 URL" disabled />
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <ul>
                    <li>URL에 단축하려는 URL을 입력하고 [URL 변환] 버튼을 클릭하면 short URL에 단축된 URL이 표시됩니다.</li>
                    <li>URL을 입력하실때에는 프로토콜(http, https 등)까지 입력하여주세요.</li>
                    <li>단축 URL 정보를 db에 저장하지 않으므로 서버를 재구동하면 다시 등록하여야 합니다.</li>
                    <li>원본 URL이 같으면 서버를 재구동하여도 항상 같은 단축URL을 표시합니다.</li>
                </ul>
            </td>
        </tr>
    </table>
  </body>
</html>
